/* Define the background color */


/* Define text color */
.navanimcard {
    color: #ffffff;
}

/* Define initial background color */
.navanimcard {
    background-color: #ffffff;
}

/* Define transition for background color change */
.navanimcard {
    transition: background-color 0.5s ease 0s, color 0.3s ease 0s; /* Added color transition */
}

    /* Apply new background color on hover */
    .navanimcard:hover {
        background-color: #E4C59E;
        color: white; /* Added text color change */
    }

.animate-card-animation-end .navanimcard {
    color: white;
}


body {
    background-color: #114232;
}

/* Define text color */
.animcard {
    color: #FCDC2A;
}

/* Define initial background color */
.animcard {
    background-color: #ffffff;
}

/* Define transition for background color change */
.animcard {
    transition: background-color 0.5s ease 0s, color 0.3s ease 0s; /* Added color transition */
}

    /* Apply new background color on hover */
    .animcard:hover {
        background-color: #FC4100;
        color: white; /* Added text color change */
    }

.animate-card-animation-end .animcard {
    color: white;
}





button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.05s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

    button:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #a29bfe;
    }



body {
    background-image: url('https://t3.ftcdn.net/jpg/07/53/22/86/240_F_753228685_glGAEQ6GdkQfeS5BJimASczVL4RwbLVN.jpg');
    background-size: cover; /* Adjust to your preference */
    background-repeat: repeat; /* Adjust to your preference */
    /* Other background properties */
}










